@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap");

body {
	font-family: "Mukta", sans-serif;
	margin: 0;
	padding: 0;
}

.btn-primary {
	border-radius: 25px;
	padding: 15px 25px;
	font-size: 14px;
	letter-spacing: 1px;
	color: white;
	text-transform: uppercase;
	background-color: #0092df;
	transition: 0.3s;
}

.btn-primary:hover {
	background-color: #4669d4;
}

/* Navigation Bar */
nav {
	overflow: hidden;
	display: flex;
	width: 1000px;
	margin: 0 auto;
}

nav ul {
	padding: 0;
}

nav ul li {
	list-style: none;
	display: inline;
	padding: 24px;
}

nav ul li a {
	color: #0092df;
}

.nav-logo {
	flex: 1;
}

.nav-list {
	flex: 1;
	align-self: center;
	text-align: right;
}

.container {
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
}

/* Main */
.home-title {
	display: flex;
	flex-direction: column;
	font-size: 50px;
	text-align: center;
}

.home-text {
	flex: 1;
	font-size: 20px;
	margin-top: 10px;
}

.home-image {
	flex: 1;
	padding-left: 50px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
	cursor: pointer;
}

.card:hover {
	box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 1);
}

.logo-kota-balikpapan {
	flex: 1;
	float: left;
	margin: 10px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

p {
	text-align: justify;
}

.sitasi {
	font-weight: bold;
}

.image-wisata {
	flex: 1;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

/* aside */
aside {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}

.author {
	text-align: center;
	width: 40%;
}

.information {
	display: flex;
	align-items: center;
	font-size: 14px;
	padding-left: 30px;
}

.icon {
	width: 28px;
	margin-right: 10px;
}

/* contact form */
.contact-form {
	position: relative;
}

.input {
	width: 100%;
	outline: none;
	border: 2px solid #0092df;
	padding: 10px 5px;
	color: black;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.5px;
	border-radius: 25px;
	transition: 0.3s;
}

.input-container {
	position: relative;
	margin: 10px 0;
}

.input-container label {
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	padding: 0 10px;
	color: black;
	font-size: 14px;
	font-weight: 400;
	pointer-events: none;
	z-index: 1000;
	transition: 0.5s;
}

.input-container.textarea label {
	top: 16px;
	transform: translateY(0);
}

.input-container span {
	position: absolute;
	top: 0;
	left: 25px;
	transform: translateY(-50%);
	font-size: 14px;
	padding: 0 10px;
	color: transparent;
	pointer-events: none;
	z-index: 500;
}

.input-container span:before,
.input-container span:after {
	content: "";
	position: absolute;
	width: 10%;
	opacity: 0;
	transition: 0.3s;
	height: 5px;
	background-color: #0092df;
	top: 50%;
	transform: translateY(-50%);
}

.input-container span:before {
	left: 50%;
}

.input-container span:after {
	right: 50%;
}

.input-container.focus label {
	top: 0;
	transform: translateY(-50%);
	left: 25px;
	font-size: 14px;
}

.input-container.focus span:before,
.input-container.focus span:after {
	width: 50%;
	opacity: 1;
}

.btn {
	padding: 10px 20px;
	background-color: #fff;
	border: 2px solid #0092df;
	font-size: 14px;
	color: #0092df;
	line-height: 1;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	margin: 0;
}

.btn:hover {
	background-color: transparent;
	color: black;
}

textarea.input {
	min-height: 200px;
	border-radius: 25px;
	resize: none;
	overflow-y: auto;
}

/* footer */
footer {
	margin: 0 auto;
	padding: 20px 0;
	color: white;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	background-color: #0092df;
}

/* responsive */
@media screen and (max-width: 1000px) {
	nav {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	nav ul li {
		text-align: center;
		display: block;
		flex: 1;
	}

	.nav-logo {
		text-align: center;
		flex: 1;
	}

	.container {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.home-title {
		display: block;
		flex-direction: column;
		margin-top: 24px;
	}

	.home-text {
		padding: 16px;
	}

	.home-image {
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	.card {
		margin-right: 0;
		margin-left: 0;
		overflow: hidden;
	}

	.logo-kota-balikpapan {
		display: flex;
		float: none;
	}

	.author {
		text-align: center;
		width: 100%;
	}

	.information {
		font-size: 12px;
		padding: 0;
		display: flex;
	}

	.icon {
		padding: 0;
		display: flex;
	}

	.contact-form {
		text-align: center;
		display: flex;
		width: 100%;
	}

	footer {
		margin-top: 10px;
		width: 100%;
	}
}
